/* * * * * * * * * * * * * * * *
 *      Javascript Snake       *
 * * * * * * * * * * * * * * * *
 *         Stylesheet          *
 * * * * * * * * * * * * * * * *
 * Autor: Sven Tatter          *
 *                             *
 * Lizenz:                     *
 *  Namensnennung-Weitergabe   *
 *  unter gleichen Bedingungen *
 *  3.0 Deutschland            *
 * * * * * * * * * * * * * * * */

html {
	margin: 0px;
	padding: 0px;
	
	font-family: sans-serif;
	
}

body {
	background-color: #66c840;
	background-image: url(image/back.png);
	background-position: center;
}

#container {
	background-color: #ffffff;
	
	margin: auto;
	padding: 20px;
	
	width: 660px;
	
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#stat {
	background-color: #66c840;
	padding: 6px;
	margin: -6px;
	
	width: 660px;
	
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#game {
	background-color: #008900;
	
	margin: -6px;
	padding: 6px;
	
	width: 660px;
	height: 450px;
	
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

#StartButton , #RestartButton {
	position: relative;
	top: -255px;
	left: 230px;
}

#game  button{
	width: 200px;
	height: 60px;
}

#game table {
	border-spacing: 0px;
}

#game td {
	margin: 0px;
	padding: 0px;
	
	width: 30px;
	height: 30px;
}

#game img {
	display: block;
}

#foot {
	margin: -20px;
	margin-top: 20px;
	padding: 5px;
	
	text-align: center;
	font-size: 10pt;
	
	background-color: #643300;
	
	color: #ffffff;
	
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

#foot a {
	color: #ffffff;
	text-decoration: none;
}

h1 {
	padding: 0px;
	margin: -10px 0px 10px 0px;
}
